<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="enjoysmile.com.shimasu">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OverviewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="shimasu"
                    android:scheme="overview" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityManageActivity"
            android:label="@string/title_activity_manage"
            android:parentActivityName=".OverviewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="enjoysmile.com.shimasu.OverviewActivity" />
        </activity>
        <activity
            android:name=".ActivityAddActivity"
            android:label="@string/title_activity_add"
            android:parentActivityName=".ActivityManageActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="enjoysmile.com.shimasu.ActivityManageActivity" />
        </activity>
    </application>

</manifest>